<div class="box-selection">
    <div class="product-image-container">
        <div class="product-image">

        </div>
        <div class="actions">
            <button name="more_info" class="material-icons icon-button action" style="font-size: 2.0em">zoom_in</button>
            <button name="product_to_add" type="submit" value="{{ product.id }}" class="material-icons icon-button action" style="font-size: 2.0em">add_shopping_cart</button>
        </div>
    </div>
    <p>{{ product.name }}</p>
    <p>Price: {{ product.price }}</p>
</div>