<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'dist/css/bundle.css' %}">
    <title>Order-It</title>

</head>

<body>

    <header class="heading">
        <h3 class="heading-title">{{ store.display_name }}</h3>

        <ol class="account-bar">
            <li>
                <a href="">
                    <i class="icon-button material-icons">shopping_cart</i>
                </a>
            </li>
        </ol>
    </header>

    <div class="content">

        <div class="content-left-menu">
            <ul class="left-menu-list">
                {% for category in store.get_menu_options_sorted_by_display_order %}
                <li class="left-menu-list-item">
                    <a href="{% url 'ordering:index' store.url_identifying_name category.id %}" class="left-menu-selection">
                        <div>
                            {{ category.display_name }}
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="content-middle">
            {% if category %} {% for product in category.get_products %}
            <div class="product-selection">
                <div class="product-image-container">
                    <div class="product-image">

                    </div>
                    <div class="actions">
                        <div class="icon-button action info">
                            <i class="material-icons">zoom_in</i>
                        </div>
                        <div class="icon-button action add">
                            <i class="material-icons">add_shopping_cart</i>
                        </div>
                    </div>
                </div>
                <p>{{ product.name }}</p>
                <p>Price: {{ product.price }}</p>
            </div>
            {% endfor %} {% endif %}
        </div>
    </div>
</body>

</html>