{% extends 'base.html' %}

{% block title %}
{{ store.display_name }}
{% endblock title %}

{% block theme_link %}
<link rel="stylesheet" href="{% url 'ordering:store_style' store.style.id %}" type="text/css">
{% endblock theme_link %}

{% block page-heading %}
{{ store.display_name }}
{% endblock page-heading %}

{% block content %}
<div class="content">

    {% include "components/side_menu.html" %}

    {% if displayed_items %}
    <form action="{% url 'ordering:add_to_cart' store.id category.id %}" method="POST" class="content-middle">
        {% csrf_token %}
        {% for box_selection in displayed_items %}

        {% include "components/box_selection.html" %}

        {% endfor %}
    </form>
    {% endif %}

</div>
{% endblock content %}