{% extends 'base.html' %}

{% block title %}
{{ store.display_name }}
{% endblock title %}

{% block page-heading %}
{{ store.display_name }}
{% endblock page-heading %}

{% block content %}
     <div class="content">

        <div class="content-left-menu">
            <ul class="left-menu-list">
                {% for category_selection in store.get_menu_options_sorted_by_display_order %}
                <li class="left-menu-list-item {% if category and category.id == category_selection.id %}active-menu-selection{% endif %}">
                    <a href="{% url 'ordering:store' store.url_identifying_name category_selection.id %}" class="left-menu-selection">
                        <div>
                            {{ category_selection.display_name }}
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        {% if category %}
        <form action="{% url 'ordering:add_to_cart' store.id category.id %}" method="POST" class="content-middle">
            {% csrf_token %}
            {% for product in category.get_products %}
            
                {% include "components/box_selection.html" %}
                
            {% endfor %}
        </form>
        {% endif %}

    </div>
{% endblock content %}