<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Order-It{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'dist/css/bundle.css' %}">
    {% block theme_link %}{% endblock theme_link %}
</head>

<body>
    <header class="primary_background_color">

        <a class="on_hover_tertiary_color account-bar-button" href="{% url 'ordering:index' %}">
            <i class="material-icons" style="font-size: 1.2em">home</i>
        </a>

        <h1 class="heading-title">{% block page-heading %}Order-It{% endblock %}</h1>

        <ol class="account-bar">
            <li class="account-bar-item shopping-cart-dropper">
                <a class="account-bar-button" href="">
                    <i class="material-icons icon-button nav-button" style="font-size: 1.2em">shopping_cart</i>
                </a>
                {% if products_in_cart %}
                <div class="icon-notification">
                    {{ products_in_cart|length }}
                </div>
                {% endif %}

                <div class="account-bar-dropdown shopping-cart-dropdown">
                    <ul class="account-bar-dropdown-list">
                        <li class="account-bar-dropdown-item">hello</li>
                    </ul>
            </li>

            {% block profile-button %}
            {% if user.is_authenticated %}
            <li class="account-bar-item profile-dropper">
                <a class="account-bar-button">
                    <i class="icon-button nav-button material-icons" style="font-size: 1.2em">person</i>
                </a>
                <div class="account-bar-dropdown profile-dropdown">
                    <ul class="account-bar-dropdown-list">
                        <li class="account-bar-dropdown-item">
                                <a href="{% url 'logout' %}" class="logout-button">Logout</a>
                        </li>
                    </ul>
                </div>
            </li>
            {% endif %}
            {% endblock profile-button %}
        </ol>

    </header>
    {% block content %} {% endblock content %}
</body>

</html>