<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Order-It{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'dist/css/bundle.css' %}">
</head>

<body>
    <header class="heading">

        <a class="account-bar-button" href="{% url 'ordering:index' %}">
            <i class="material-icons" style="font-size: 1.2em">home</i>
        </a>

        <h1 class="heading-title">{{ store.display_name }}</h1>

        <ol class="account-bar">
            <li>
                <a class="account-bar-button" href="">
                    <i class="material-icons icon-button nav-button" style="font-size: 1.2em">shopping_cart</i>
                </a>
                {% if products_in_cart %}
                <div class="icon-notification">
                    {{ products_in_cart|length }}
                </div>
                {% endif %}
            </li>

            {% block profile-button %}
            {% if user.is_authenticated %}
            <li class="profile-dropper">
                <a class="account-bar-button profile-button">
                    <i class="icon-button nav-button material-icons" style="font-size: 1.2em">person</i>
                </a>
                <div class="profile-dropdown">
                    <a href="{% url 'logout' %}" class="logout-button">
                        Logout
                    </a>
                </div>
            </li>
            {% endif %}
            {% endblock profile-button %}
        </ol>

    </header>
    {% block content %} {% endblock content %}
</body>

</html>