.primary_background_color {
    background: {{ primary_color }};
}

.secondary_background_color {
    background: {{ secondary_color }};
}

.secondary_selected_color {
    background: {{ secondary_selected_color }};
}