.primary_background_color {
    background: {{ primary_color }};
}

.secondary_background_color {
    background: {{ secondary_color }};
}

.tertiary_color {
    background: {{ tertiary_color }};
}

.on_hover_tertiary_color:hover {
    background: {{ tertiary_color }};
}

.theme_font_color {
    color: {{ font_color }};
}