
        body {
            display: flex;
            flex-flow: column nowrap;
            height: 100vh;
            margin: 0;
            font-family: Corbel;
        }

/*          Heading               */

        header {
            display: flex;
            height: 60px;
            align-items: center;
            background: #d9d3c8;
            width: 100%;
        }

        .heading-title {
            min-width:  500px;
            margin: 0;
        }

        .account-bar {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            height: 100%;
            margin: 0;
            list-style: none;
            margin-left: auto;
            margin-right: 10px;
        }

        .account-bar-item {
            position: relative;
        }

        .account-bar-button {
            font-size: 2.0em;
            opacity: .5;
            width: 60px;
            height: 100%;
            display: inline-flex;
            text-decoration: none;
            align-items: center;
            justify-content: center;
        }

        .account-bar-button:hover {
            opacity: 1;
            background: gray;
        }

        .account-bar-button:visited {
            color: black;
        }

        .icon-notification {
            position: absolute;
            top: 1px;
            right: 1px;
            text-align: center;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: blue;
            color: white;
            line-height: 15px;
            opacity: 100%;
        }
        
        .account-bar-dropdown {
            position: absolute;
            display: none;
            z-index: 1;
            background: lightgray;
            right: 0px;
        }

        .account-bar-dropdown-list {
            padding: 0;
            list-style: none;
        }

        .account-bar-dropdown-item {
            width: 150px;
            height: 50px;
        }

        .shopping-cart-dropper:hover .shopping-cart-dropdown {
            display: block;
        }

        .profile-dropper:hover .profile-dropdown {
            display: block;
        }

        .logout-button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            text-decoration: none;
        }

        .logout-button:hover {
            background: gray;
        }

        .logout-button:visited {
            color: black;
        }

/*          Heading End               */

        .content {
            height: 100%;
            flex-flow: row nowrap;
            flex-grow: 1;
            display: flex;
        }

/*          Components               */

        .box-selection {
            margin: 20px;
            display: block;
        }

/*          Comoponents End               */


/*          Left-Menu-Bar               */

        .content-left-menu {
            border-right: 1px solid rgb(173, 173, 173);
            min-width: 200px;
            background: whitesmoke;
        }

        .left-menu-list {
            list-style-type: none;
            padding: 0;
        }

        .left-menu-list-item {
            opacity: .8;
            font-size: 1.1em;
        }

        .left-menu-list-item:hover {
            opacity: 1;
            font-weight: bold;
        }

        .active-menu-selection {
            font-weight: bolder;
            font-size: 1.2em;
            opacity: 1;
            border-right: 5px solid;
            background: darkgray;
        }

        .active-menu-selection:hover {
            font-size: 1.2em;
        }

        .left-menu-selection {
            text-decoration: none;
        }

        .left-menu-selection:link {
            color: black;
        }

        .left-menu-selection:visited {
            color: black;
        }

        .left-menu-selection div {
            padding-left: 10px;
            padding-bottom: 5px;
            padding-top: 5px;
            font-size: larger;
        }

/*              Middle Content              */

        .content-middle {
            overflow: auto;
            display: flex;
            flex-wrap: wrap;
            flex-grow: 1;
            background: white;
        }

        .product-image-container {
            position: relative;
            overflow: hidden;
        }

        .product-image {
            background: lightgray;
            min-width: 250px;
            min-height: 250px;
        }

        .actions {
            display: flex;
            justify-content: flex-end;
            background: gray;
            position: absolute;
            border-top: 1px;
            width: 100%;
            height: 30%;
            bottom: 0;
        }

        .action {
            background: inherit;
            border: none;
            opacity: .4;
        }

        .action:hover {
            opacity: 1;
        }

/*          ICON RULES          */
        
        .icon-button {
            cursor: pointer;
        }

        .icon-button:hover {
            opacity: 1;
        }

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';