
        body {
            display: flex;
            flex-flow: column nowrap;
            height: 100vh;
            margin: 0;
            font-family: Corbel;
        }

/*          Heading               */

        .heading {
            display: flex;
            height: 30px;
            align-items: center;
            background: #d9d3c8;
            width: 100%;
        }

        .heading-title {
            min-width:  180px;
            margin: 0;
        }

        .account-bar {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            height: 100%;
            margin: 0;
            list-style: none;
            margin-left: auto;
            margin-right: 10px;
        }

        .account-bar a {
            opacity: .5;
            height: 100%;
            display: inline-flex;
            text-decoration: none;
            align-items: center;
        }

        .account-bar a:hover {
            opacity: 1;
        }

        .account-bar a:visited {
            color: black;
        }

        .account-bar li:hover {
            opacity: 1;
        }

        .icon-notification {
            position: absolute;
            text-align: center;
            top:0px;
            right: 0px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: blue;
            line-height: 12px;
            opacity: 100%;
        }

/*          Heading End               */

        .content {
            flex-flow: row nowrap;
            flex-grow: 1;
            display: flex;
        }

/*          Left-Menu-Bar               */

        .content-left-menu {
            border-right: 1px solid rgb(173, 173, 173);
            min-width: 150px;
            background: whitesmoke;
        }

        .left-menu-list {
            list-style-type: none;
            padding: 0;
        }

        .left-menu-list-item {
            opacity: .8;
        }

        .left-menu-list-item:hover {
            opacity: 1;
            font-size: 1.1em;
        }

        .active-menu-selection {
            font-weight: bolder;
            font-size: 1.2em;
            opacity: 1;
        }

        .active-menu-selection:hover {
            font-size: 1.4em;
        }

        .left-menu-selection {
            text-decoration: none;
        }

        .left-menu-selection:visited {
            color: black;
        }

        .left-menu-selection div {
            padding-left: 10px;
            padding-bottom: 5px;
            padding-top: 5px;
        }

/*              Middle Content              */

        .content-middle {
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-grow: 1;
            background: white;
        }

        .product-selection {
            margin: 20px;
            display: block;
        }

        .product-image-container {
            position: relative;
            border-radius: 20px;
            overflow: hidden;
        }

        .product-image {
            background: blue;
            width: 100%;
            height: 100%;
            min-width: 120px;
            min-height: 120px;
            width: 120px;
            height: 120px;
            border-radius: 20px;
        }

        .actions {
            position: absolute;
            width: 100%;
            height: 30%;
            bottom: 0;
        }

        .action {
            background: gray;
            text-align: center;
            float: left;
            height: 100%;
            width: 50%;
            padding-top: 5px;
            opacity: .4;
        }

        .product-image:hover .image {
            opacity: .5;
        }

        .action:hover {
            opacity: 1;
        }

/*          ICON RULES          */
        
        .icon-button {
            cursor: pointer;
        }

        .icon-button:hover {
            opacity: 1;
        }